@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Основні теги */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

header{
    background-color: rgb(244, 240, 237, 1);
    width: 1200px;
    height: 900px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

[class *= "-container"] {
    width: 1200px;
    margin: 0 auto;
}

/* Логотип */
.logo{
    margin: 0 156px;
}

/* Wrapper */
.wrapper{
    height: 200vh;
}

/* Menu */
.menu{
    display: flex;
    gap: 40px;
}

/* Header */
.header-nav{
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.header-link{
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.header-link:hover{
    text-decoration: underline;
}

/* Hero container */
.hero-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 90vh;
    grid-auto-flow: row;
    grid-template-areas:
        "hero__text hero-image hero-image healthy_block"
        "hero__text hero-image hero-image healthy_block"
        "red-icecream hero-image hero-image jam"
        "red-icecream hero-image hero-image jam";
    position: relative;
}

.hero-text-btn{
    width: 352px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-text{
    font-weight: 500;
    font-size: 16px;
}

.hero-btn{
    background-color: #491E0A;
    color: white;
    font-weight: 500;
    font-size: 20px;
    width: 259px;
    height: 72px;
    border-radius: 100px;
    margin-top: 30px;
}

.hero-btn:hover{
    cursor: pointer;
    background-color: rgba(103, 50, 20, 1);
}

.hero-image-circle-text{
    width: 268px;
}

.hero-image-blue-packet-icecream{
    width: 500px
}

.hero-healthy-block{
    grid-area: healthy_block;
    display: flex;
    justify-content: center;
    position: relative;
}

.healthy-img{
    width: 221px;
}

.healthy-text{
    border: 2px solid black;
    width: 221px;
    height: 250px;
}

.healthy-play-btn{
    border-radius: 100px;
}