@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Основні теги */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background: #FEFDFD;
}

header{
    background-color: rgb(244, 240, 237);
    width: 100%;
    height: 900px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

[class *= "-container"] {
    width: 1200px;
    margin: 0 auto;
}

/* Wrapper */
.wrapper{
    height: 200vh;
}

/* Menu */
.menu{
    display: flex;
    gap: 40px;
}


/* Header */
.header-nav{
    width: 80%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.header-link{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.header-link:hover{
    text-decoration: underline;
}

/* Hero container */
.hero-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 90vh;
    grid-auto-flow: row;
    grid-template-areas:
        "hero__text hero-image hero-image healthy_block"
        "hero__text hero-image hero-image healthy_block"
        "red-icecream hero-image hero-image jam"
        "red-icecream hero-image hero-image jam";
    position: relative;
    top: 94px;
}

.hero-text-btn{
    width: 352px;
    position: absolute;
    grid-area: hero-text-btn;
    top: 20%;
    left: 4%;  
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;

}

.hero-text{
    font-weight: 500;
    font-size: 16px;
}

.hero-btn{
    background-color: #491E0A;
    color: white;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 40px;
    width: 250px;
    padding: 24px 60px;
}

.hero-btn:hover{
    background-color: rgba(103, 50, 20, 1);
}

.hero-image-circle-block{
    width: 210px;
    position: absolute;
    top: 56%;
    left: 32%;
    z-index: 2;
}

.hero-image-circle-text{
    width: 120px;
    position: absolute;
    top: 64.5%;
    left: 35.8%;
    z-index: 3;
}

.hero-image-blue-packet-icecream{
    width: 500px;
    position: absolute;
    top: 18%;
    left: 33%;
    z-index: 1;
}

.hero-healthy-block{
    grid-area: healthy_block;
    display: flex;
    justify-content: end;
    position: relative;
    top: 10%;
    right: 15%;
}

.healthy-border{
    height: 250px;
    width: 220px;

    position: absolute;
    bottom: -120px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 20px;
    border: 2px solid #000;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}

.healthy-img{
    width: 210px;
    position: absolute;
    left: 0;    
    top: -62%;
}

.healthy-text{
    width: 135px;
    height: 250px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.healthy-play-btn{
    width: 64px;
    height: 64px;
    background-color: rgba(73, 30, 10, 1);
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    top: 85%;
    left: 40%;
    border-radius: 100px;
    cursor: pointer;
}

.healthy-play-btn:hover{
    background-color: rgba(103, 50, 20, 1);
}

.red-icecream-block{
    position: relative;
}

.img-red-icecream{
    width: 269px;
    height: 404px;
    position: absolute;
    top: 355%;
    left: -125%;
    z-index: 5;
    transform:  rotate(20deg);
}

.img-mountain-ash-red-icecream{
    position: absolute;
    top: 540%;
    left: -78%;
    transform: rotate(-23deg)
}

.circle-block-text {
    position: absolute;
    top: 99%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.lightning-block{
    position: absolute;

    top: 365%;
    right: 115%;
    transform: rotate(60deg);
    display: flex;
    gap: 15px;
}

.blue-lightning {
    rotate: -20deg;
}

.red-lightning {
    rotate: 0deg;
}

.yellow-lightning {
    rotate: 20deg;
}

.jam{
    position: relative;
}

.jam-block{
    position: absolute;
    bottom: 0;
    top: 400%;
    left: 105%;
    transform: translateX(50%);
}

.img-mountain-ash-jam{
    position: absolute;
    top: 80px;
    left: -40%;
}


/* Main */
.main-block-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #491E0A;
}

.main-block-text-title{
    font-size: 128px;
    font-weight: 600;
    position: absolute;
    top: -190px;
}

.main-block-text-descr{
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 30px;
}

.selection-icecream{
    position: relative;
}

.selection-icecream-elipse-border{
    position: absolute;
    top: 150px;
    border: 80px solid #F7F4F3;
    width: 500px;
    height: 500px;
    border-radius: 400px;
}

.selection-icecream-elipse-background{
    position: absolute;
    top: 11%;
    left: 11%;
    border: 80px solid #F7F4F3;
    background-color: #F7F4F3;
    width: 230px;
    height: 230px;
    border-radius: 400px;
}

.selection-icecream-green-icecream{
    position: absolute;
    top: -70%;
    left: -20%;
}